In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [2]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv('athletic_sales_2020.csv')
df_2021 = pd.read_csv('athletic_sales_2021.csv')

In [3]:
# Display the 2020 sales DataFrame
print(df_2020.head(5))

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [4]:
# Display the 2021 sales DataFrame
print(df_2021.head(5))

    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299       1/1/21     West  California  San Francisco
1  West Gear      1128299       1/1/21     West  California  San Francisco
2     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
3     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
4  West Gear      1128299       1/1/21     West  California  San Francisco

                   product  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online

#### Check the data types of each DataFrame

In [5]:
# Check the 2020 sales data types.
print(df_2020.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [6]:
# Check the 2021 sales data types.
print(df_2021.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [7]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
df_combined = pd.concat([df_2020, df_2021], axis=0)
print(df_combined.count())

retailer            9643
retailer_id         9643
invoice_date        9643
region              9643
state               9643
city                9643
product             9643
price_per_unit      9643
units_sold          9643
total_sales         9643
operating_profit    9643
sales_method        9643
dtype: int64

In [8]:
# Check if any values are null.
null_check = pd.isnull(df_combined)
null_check = null_check.any()
print(null_check)

retailer            False
retailer_id         False
invoice_date        False
region              False
state               False
city                False
product             False
price_per_unit      False
units_sold          False
total_sales         False
operating_profit    False
sales_method        False
dtype: bool

In [9]:
# Check the data type of each column
print(df_combined.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [10]:
# Convert the "invoice_date" to a datetime datatype
df_combined['invoice_date'] = pd.to_datetime(df_combined['invoice_date'])

In [11]:
# Confirm that the "invoice_date" data type has been changed.
print(df_combined.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [12]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".



# Show the top 5 results.

NameError: name 'combined_df' is not defined

#### Using `pivot_table`

In [ ]:
# Show the number products sold for region, state, and city.
pivot = combined_df.pivot_table(index=['region', 'state', 'city'],
                      values='units_sold',
                      aggfunc='sum')

# Rename the "units_sold" column to "Total_Products_Sold"
pivot = pivot.rename(columns={'units_sold': 'Total_Products_Sold'})

# Show the top 5 results.
top_5 = pivot.sort_values('Total_Products_Sold', ascending=False).head(5)
print(top_5)

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_sales = combined_df.groupby(['region', 'state', 'city'])['total_sales'].sum()
grouped_sales_df = (grouped_sales.reset_index()
                    .rename(columns={'total_sales': 'Total Sales'})
                    .sort_values('Total Sales', ascending=False))
# Show the top 5 results.
print(grouped_sales_df.head(5))

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
my_table = combined_df.pivot_table(index=['region', 'state', 'city'],
                                     values='total_sales',
                                     aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
my_table = my_table.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results.
top_5_sales = my_table.sort_values('Total Sales', ascending=False).head(5)
print(top_5_sales)

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
retailer_group = combined_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum()
retailer_group_df = (retailer_group.reset_index()
                    .rename(columns={'total_sales': 'Total Sales'})
                    .sort_values('Total Sales', ascending=False)
                    .head(5))
# Show the top 5 results.
print(retailer_group_df)

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
retailer_pivot = combined_df.pivot_table(index=['retailer', 'region', 'state', 'city'],
                                     values='total_sales',
                                     aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
retailer_pivot = region_pivot.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results.
retailer_pivot_top_5 = retailer_pivot.sort_values('Total Sales', ascending=False).head(5)
print(region_pivot_top_5)

In [ ]:
unique_products = combined_df['product'].unique()
print(unique_products)

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [ ]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_athletics_footware_sales = combined_df[combined_df['product'] == "Women's Athletic Footwear"]
print(womens_athletics_footware_sales)

#### Using `groupby`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

#### Using `pivot_table`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [ ]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.

In [ ]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in ascending order on "Total Sales".

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [ ]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in ascending order on "Total Sales".